/* === @HELPERS === */

.material-float-left {
  float: left;
}

.material-float-right {
  float: right;
}

.material-text-left {
  text-align: left;
}

.material-text-right {
  text-align: right;
}

.material-text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.material-text-justify {
  text-align: justify;
}

.material-no-text-decoration {
  text-decoration: none !important;
}

.material-margin-bottom {
  margin-bottom: 1em !important;
}

.material-margin-top {
  margin-top: 1em !important;
}

.material-no-margin {
  margin: 0px !important;
}

.material-no-margin-top {
  margin-bottom: 0px !important;
}

.material-no-margin-bottom {
  margin-bottom: 0px !important;
}

.material-few-margin {
  margin: 0.5em;
}

.material-margin {
  margin: 1em;
}

.material-margin-gg {
  margin: 1.61803398875em;
}

.material-hidden-sm {
  display: none;
}

.material-rounded {
  border-radius: 7px;
}

.material-rounded-gg {
  border-radius: 24px;
}

.material-only-icon-button {
  top: 0px !important;
}

.material-few-padding {
  padding: 0.5em;
}

.material-no-padding {
  padding: 0px !important;
}

.material-no-padding-top {
  padding-top: 0px !important;
}

.material-no-padding-bottom {
  padding-bottom: 0px !important;
}

.material-padding {
  padding: 1em;
}

.material-padding-gg {
  padding: 1.61803398875em;
}

@media only screen and (min-width: 65em) {  /* 720px */
  .material-hidden-sm {
    display: block;
  }
}
