/* === @TYPOGRAPHY === */

.material-link {
    border-radius: 4px;
    color: rgb(33, 150, 243);
    text-decoration: none;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.material-link:hover {
    text-decoration: underline;
}

.material-link:focus {
    background-color: rgba(33, 150, 243, 0.12);
    box-shadow: 0 0 0 0.16em rgba(33, 150, 243, 0.12);
    outline: none;
}

.material-link:active {
    background-color: transparent;
    box-shadow: none;
}

.material-h1 {
    font-size: 96px;
    font-weight: 300;
    letter-spacing: -1.5px;
    line-height: 120px;
    margin: 0;
}
.material-h2 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -0.5px;
    line-height: 80px;
    margin: 0;
}
.material-h3 {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 64px;
    margin: 0;
}
.material-h4 {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 48px;
    margin: 0;
}
.material-h5 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 36px;
    margin: 0;
}
.material-h6 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15px;
    line-height: 28px;
    margin: 0;
}
.material-subtitle1 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15px;
    line-height: 24px;
}
.material-subtitle2 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 20px;
}

.material-font-light {
  font-weight: 300;
}

.material-font-regular {
  font-weight: 400;
}

.material-font-heavy {
  font-weight: 700;
}

.material-body1 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 24px;
}

.material-body2 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 20px;
}

.material-caption {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 20px;
}

.material-overline {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    line-height: 16px;
}

.material-p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}
