/* === @PROGRESS === */

/* Progress Circular */
.material-progress-circular {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    border-radius: 50%;
    padding: 0.25em;
    width: 3em;
    height: 3em;
    color: rgb(33, 150, 243);
    background-color: transparent;
    font-size: 16px;
    overflow: hidden;
}
.material-progress-circular::-webkit-progress-bar {
    background-color: transparent;
}
/* Indeterminate */
.material-progress-circular:indeterminate {
    -webkit-animation: m-progress-circular 6s infinite cubic-bezier(0.3, 0.6, 1, 1);
            animation: m-progress-circular 6s infinite cubic-bezier(0.3, 0.6, 1, 1);
}
.material-progress-circular:indeterminate::before,
.material-progress-circular:indeterminate::-webkit-progress-value {
    content: "";
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 0.25em;
    border: solid 0.25em currentColor;
    border-radius: 50%;
    width: 100% !important;
    height: 100%;
    background-color: transparent;
    -webkit-clip-path: polygon(50% 50%, 37% 0, 50% 0, 50% 0, 50% 0, 50% 0);
    clip-path: polygon(50% 50%, 37% 0, 50% 0, 50% 0, 50% 0, 50% 0);
    -webkit-animation: m-progress-circular-pseudo 0.75s infinite linear alternate;
            animation: m-progress-circular-pseudo 0.75s infinite linear alternate;
    -webkit-animation-play-state: inherit;
            animation-play-state: inherit;
    -webkit-animation-delay: inherit;
            animation-delay: inherit;
}
.material-progress-circular:indeterminate::-moz-progress-bar {
    box-sizing: border-box;
    border: solid 0.25em currentColor;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    clip-path: polygon(50% 50%, 37% 0, 50% 0, 50% 0, 50% 0, 50% 0);
    animation: m-progress-circular-pseudo 0.75s infinite linear alternate;
    animation-play-state: inherit;
    animation-delay: inherit;
}
.material-progress-circular:indeterminate::-ms-fill {
    animation-name: -ms-ring;
}
@-webkit-keyframes m-progress-circular {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    12.5% {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
    }
    25% {
        -webkit-transform: rotate(630deg);
                transform: rotate(630deg);
    }
    37.5% {
        -webkit-transform: rotate(810deg);
                transform: rotate(810deg);
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
    }
    50% {
        -webkit-transform: rotate(1260deg);
                transform: rotate(1260deg);
    }
    62.5% {
        -webkit-transform: rotate(1440deg);
                transform: rotate(1440deg);
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
    }
    75% {
        -webkit-transform: rotate(1890deg);
                transform: rotate(1890deg);
    }
    87.5% {
        -webkit-transform: rotate(2070deg);
                transform: rotate(2070deg);
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
    }
    100% {
        -webkit-transform: rotate(2520deg);
                transform: rotate(2520deg);
    }
}
@keyframes m-progress-circular {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    12.5% {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
    }
    25% {
        -webkit-transform: rotate(630deg);
                transform: rotate(630deg);
    }
    37.5% {
        -webkit-transform: rotate(810deg);
                transform: rotate(810deg);
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
    }
    50% {
        -webkit-transform: rotate(1260deg);
                transform: rotate(1260deg);
    }
    62.5% {
        -webkit-transform: rotate(1440deg);
                transform: rotate(1440deg);
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
    }
    75% {
        -webkit-transform: rotate(1890deg);
                transform: rotate(1890deg);
    }
    87.5% {
        -webkit-transform: rotate(2070deg);
                transform: rotate(2070deg);
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
    }
    100% {
        -webkit-transform: rotate(2520deg);
                transform: rotate(2520deg);
    }
}
@-webkit-keyframes m-progress-circular-pseudo {
    0% {
        -webkit-clip-path: polygon(50% 50%, 37% 0, 50% 0, 50% 0, 50% 0, 50% 0);
        clip-path: polygon(50% 50%, 37% 0, 50% 0, 50% 0, 50% 0, 50% 0);
    }
    18% {
        -webkit-clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 0, 100% 0, 100% 0);
        clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    53% {
        -webkit-clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
        clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    88% {
        -webkit-clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
        clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
        -webkit-clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 0 100%, 0 63%);
        clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 0 100%, 0 63%);
    }
}
@keyframes m-progress-circular-pseudo {
    0% {
        -webkit-clip-path: polygon(50% 50%, 37% 0, 50% 0, 50% 0, 50% 0, 50% 0);
        clip-path: polygon(50% 50%, 37% 0, 50% 0, 50% 0, 50% 0, 50% 0);
    }
    18% {
        -webkit-clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 0, 100% 0, 100% 0);
        clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    53% {
        -webkit-clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
        clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    88% {
        -webkit-clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
        clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
        -webkit-clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 0 100%, 0 63%);
        clip-path: polygon(50% 50%, 37% 0, 100% 0, 100% 100%, 0 100%, 0 63%);
    }
}
/* Progress Linear */
.material-progress-linear, .material-progress-linear-lg {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 160px;
    height: 4px;
    vertical-align: middle;
    color: rgb(33, 150, 243);
    background-color: rgba(33, 150, 243, 0.12);
}

.material-progress-linear-lg {
  width: 258.8854382px;
  height: 10.47213595500094px;
}

.material-progress-linear::-webkit-progress-bar, .material-progress-linear-lg::-webkit-progress-bar {
    background-color: transparent;
}
/* Determinate */
.material-progress-linear::-webkit-progress-value, .material-progress-linear-lg::-webkit-progress-value {
    background-color: currentColor;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.material-progress-linear::-moz-progress-bar, .material-progress-linear-lg::-moz-progress-bar {
    background-color: currentColor;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
.material-progress-linear::-ms-fill, .material-progress-linear-lg::-ms-fill {
    border: none;
    background-color: currentColor;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
/* Indeterminate */
.material-progress-linear:indeterminate, .material-progress-linear-lg:indeterminate {
    background-size: 200% 100%;
    background-image:
        -webkit-gradient(linear, left top, right top, color-stop(16%, currentColor), color-stop(16%, transparent)),
        -webkit-gradient(linear, left top, right top, color-stop(16%, currentColor), color-stop(16%, transparent)),
        -webkit-gradient(linear, left top, right top, color-stop(25%, currentColor), color-stop(25%, transparent));
    background-image:
        -o-linear-gradient(left, currentColor 16%, transparent 16%),
        -o-linear-gradient(left, currentColor 16%, transparent 16%),
        -o-linear-gradient(left, currentColor 25%, transparent 25%);
    background-image:
        linear-gradient(to right, currentColor 16%, transparent 16%),
        linear-gradient(to right, currentColor 16%, transparent 16%),
        linear-gradient(to right, currentColor 25%, transparent 25%);
    -webkit-animation: m-progress-linear 1.8s infinite linear;
            animation: m-progress-linear 1.8s infinite linear;
}
.material-progress-linear:indeterminate::-webkit-progress-value, .material-progress-linear-lg:indeterminate::-webkit-progress-value {
    background-color: transparent;
}
.material-progress-linear:indeterminate::-moz-progress-bar, .material-progress-linear-lg:indeterminate::-moz-progress-bar {
    background-color: transparent;
}
.material-progress-linear:indeterminate::-ms-fill, .material-progress-linear-lg:indeterminate::-ms-fill {
    animation-name: none;
}
@-webkit-keyframes m-progress-linear {
    0% {
        background-position: 32% 0, 32% 0, 50% 0;
    }
    2% {
        background-position: 32% 0, 32% 0, 50% 0;
    }
    21% {
        background-position: 32% 0, -18% 0, 0 0;
    }
    42% {
        background-position: 32% 0, -68% 0, -27% 0;
    }
    50% {
        background-position: 32% 0, -93% 0, -46% 0;
    }
    56% {
        background-position: 32% 0, -118% 0, -68% 0;
    }
    66% {
        background-position: -11% 0, -200% 0, -100% 0;
    }
    71% {
        background-position: -32% 0, -200% 0, -100% 0;
    }
    79% {
        background-position: -54% 0, -242% 0, -100% 0;
    }
    86% {
        background-position: -68% 0, -268% 0, -100% 0;
    }
    100% {
        background-position: -100% 0, -300% 0, -100% 0;
    }
}
@keyframes m-progress-linear {
    0% {
        background-position: 32% 0, 32% 0, 50% 0;
    }
    2% {
        background-position: 32% 0, 32% 0, 50% 0;
    }
    21% {
        background-position: 32% 0, -18% 0, 0 0;
    }
    42% {
        background-position: 32% 0, -68% 0, -27% 0;
    }
    50% {
        background-position: 32% 0, -93% 0, -46% 0;
    }
    56% {
        background-position: 32% 0, -118% 0, -68% 0;
    }
    66% {
        background-position: -11% 0, -200% 0, -100% 0;
    }
    71% {
        background-position: -32% 0, -200% 0, -100% 0;
    }
    79% {
        background-position: -54% 0, -242% 0, -100% 0;
    }
    86% {
        background-position: -68% 0, -268% 0, -100% 0;
    }
    100% {
        background-position: -100% 0, -300% 0, -100% 0;
    }
}

