/* === @MENU === */
.material-menu {
  position: relative;
}
.material-button-contained.material-menu {
  text-align: left;
}
.material-menu ul {
  position: absolute;
  left: 0;
  top: 1.7em;
  padding: 0;
  /*-webkit-transition: all 0.2s ease;*/
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);
  background-color: white;
}
.material-menu ul li {
  display: block;
  width: 100%;
}
.material-menu ul li a {
  width: 100%;
  padding: 4px 12px;
  display: inline-block;
  white-space: pre;
  box-sizing: border-box;
  color: #512f43;
  font-weight: 400;
  text-decoration: none;
}
.material-menu:hover ul
{
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 1;
}
.material-menu ul li a:hover {
  background-color: #ebebeb;
}
.material-menu ul li a:focus {
  outline: none;
  background-color: #eee;
}
.material-menu ul li a:active {
  background-color: #e0e0e0;
}
