/* === @TABS === */

.material-tabs__tab {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.material-tabs {
  display: block;
  width: 100%;
}
.material-tabs__tab-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 48px;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}
.material-tabs__tab {
  margin: 0;
  border: none;
  padding: 0 24px;
  float: left;
  position: relative;
  display: block;
  text-decoration: none;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: rgb(63, 47, 55);
  overflow: hidden;
}
.material-tabs.is-upgraded .material-tabs__tab.is-active {
  color: rgb(65, 148, 255);
}
.material-tabs.is-upgraded .material-tabs__tab.is-active:after {
  height: 4px;
  width: 100%;
  display: block;
  content: " ";
  bottom: 0;
  left: 0;
  position: absolute;
  background: #2196f3;
  -webkit-animation: border-expand 0.2s cubic-bezier(0.4, 0, 0.4, 1) 0.01s alternate forwards;
  animation: border-expand 0.2s cubic-bezier(0.4, 0, 0.4, 1) 0.01s alternate forwards;
  transition: all 1s cubic-bezier(0.4, 0, 1, 1);
}
.material-tabs__tab .material-tabs__ripple-container {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  overflow: hidden;
}
.material-tabs__tab .material-tabs__ripple-container .material-ripple {
  background: #2196f3;
}
.material-tabs__panel {
  display: block;
}
.material-tabs.is-upgraded .material-tabs__panel {
  display: none;
}
.material-tabs.is-upgraded .material-tabs__panel.is-active {
  display: block;
}

.material-tabs-no-js {
  min-width: 340px;
  width: 50%;
  height: 275px;
  overflow: auto;
  background-color: white;
}

.material-tab-no-js-relative-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex
}

input[type="radio"][name="material-tabs-no-js"] {
  position: absolute;
  z-index: -1;
}
input[type="radio"][name="material-tabs-no-js"]:checked + .material-tab-no-js-label-content label {
  color: #2196f3;
  background-color: #205ba308;
}
input[type="radio"][name="material-tabs-no-js"]:checked + .material-tab-no-js-label-content .material-tab-no-js-content {
  display: block;
}
input[type="radio"][name="material-tabs-no-js"]:nth-of-type(1):checked ~ .material-tab-no-js-slide {
  left: calc((100% / 4) * 0);
}
input[type="radio"][name="material-tabs-no-js"]:nth-of-type(2):checked ~ .material-tab-no-js-slide {
  left: calc((100% / 4) * 1);
}
input[type="radio"][name="material-tabs-no-js"]:nth-of-type(3):checked ~ .material-tab-no-js-slide {
  left: calc((100% / 4) * 2);
}
input[type="radio"][name="material-tabs-no-js"]:nth-of-type(4):checked ~ .material-tab-no-js-slide {
  left: calc((100% / 4) * 3);
}
input[type="radio"][name="material-tabs-no-js"]:first-of-type:checked ~ .slide {
  left: 0;
}

label.material-tab-no-js-title {
  cursor: pointer;
  box-sizing: border-box;
  display: -webkit-inline-box;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  height: 56px;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
}

label.material-tab-no-js-title:hover {
  /* color: #2196f3; */
  transition: 0.3s;
  background-color: rgba(192, 192, 192, 0.1);
}

.material-tab-no-js-slide {
  background: #2196f3;
  width: calc(100% / 4);
  height: 4px;
  position: absolute;
  left: 0;
  top: calc(100% - 4px);
  -webkit-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
}

.material-tab-no-js-label-content {
  width: 100%;
}
.material-tab-no-js-label-content .material-tab-no-js-content {
  position: absolute;
  top: 100px;
  left: 16px;
  line-height: 130%;
  display: none;
}

@media screen and (max-width: 800px) {
  .material-tab-no-js-container {
    width: 80%;
    margin-left: 10%;
    top: -106px;
  }
}
