/* === @TABS === */

.material-tabs {
  min-width: 340px;
  width: 50%;
  height: 275px;
  overflow: auto;
  background-color: white;
}

.material-tab-relative-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex
}

input[type="radio"][name="material-tabs"] {
  position: absolute;
  z-index: -1;
}
input[type="radio"][name="material-tabs"]:checked + .material-tab-label-content label {
  color: #2196f3;
  background-color: #205ba308;
}
input[type="radio"][name="material-tabs"]:checked + .material-tab-label-content .material-tab-content {
  display: block;
}
input[type="radio"][name="material-tabs"]:nth-of-type(1):checked ~ .material-tab-slide {
  left: calc((100% / 4) * 0);
}
input[type="radio"][name="material-tabs"]:nth-of-type(2):checked ~ .material-tab-slide {
  left: calc((100% / 4) * 1);
}
input[type="radio"][name="material-tabs"]:nth-of-type(3):checked ~ .material-tab-slide {
  left: calc((100% / 4) * 2);
}
input[type="radio"][name="material-tabs"]:nth-of-type(4):checked ~ .material-tab-slide {
  left: calc((100% / 4) * 3);
}
input[type="radio"][name="material-tabs"]:first-of-type:checked ~ .slide {
  left: 0;
}

label.material-tab-title {
  cursor: pointer;
  box-sizing: border-box;
  display: -webkit-inline-box;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  height: 56px;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
}

label.material-tab-title:hover {
  /* color: #2196f3; */
  transition: 0.3s;
  background-color: rgba(192, 192, 192, 0.1);
}

.material-tab-slide {
  background: #2196f3;
  width: calc(100% / 4);
  height: 4px;
  position: absolute;
  left: 0;
  top: calc(100% - 4px);
  -webkit-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
}

.material-tab-label-content {
  width: 100%;
}
.material-tab-label-content .material-tab-content {
  position: absolute;
  top: 100px;
  left: 16px;
  line-height: 130%;
  display: none;
}

@media screen and (max-width: 800px) {
  .material-tab-container {
    width: 80%;
    margin-left: 10%;
    top: -106px;
  }
}
